* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  color: #515a6e;
  font-size: 14px;
  line-height: 1.5;
  min-width: 700px;
  min-height: 100vh;
  align-items: center;
  background: #ffffff;
  font-weight: normal;
  justify-content: center;
  /*background: rgb(238, 238, 238);*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
}

#app {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  margin: 16px;
  width: 750px;
}

.order {
  background: #fff;
  border-radius: 5px;
}
.order .order-header {
  padding: 16px 16px 10px 16px;
}
.order .order-header .barcode,
.order .order-header .barcode img,
.order .order-header .barcode svg {
  max-width: 250px;
}
.order .order-subheader {
  padding: 8px 16px;
  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
}
.order .order-details {
  padding: 16px;
  margin: 8px -16px;
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
}
.order .order-header ul {
  margin: 0;
  width: 100%;
  list-style: none;
  font-size: 0.9em;
}
.order .order-header .header-text {
  flex: 3;
  flex-grow: 1;
  display: flex;
  max-height: 90px;
  overflow: hidden;
}
.order .order-body {
  padding: 16px;
  background: #fff;
  border-radius: 10px;
}
.order .order-footer {
  padding: 16px;
  text-align: center;
}
.order .order-footer .cgd {
  color: #999;
  font-size: 0.9em;
}

.logo {
  max-width: 200px;
  margin-right: 32px;
}

.d-flex {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.row {
  zoom: 1;
  height: auto;
  display: block;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.col-half {
  width: 48%;
  margin: 0;
  padding: 0;
  float: left;
}
.col-half:first-child {
  margin-right: 4%;
}
.card {
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.card-bordered {
  border: 1px solid #dcdee2;
  border-color: #e8eaec;
}
.card-body {
  padding: 0;
}

.media-object {
  max-height: 80px;
}
.inline-block {
  width: 100%;
  display: inline-block;
}
.colfix {
  width: 12%;
  min-width: 100px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.float-right {
  float: right;
}
.bold {
  font-weight: bold;
}

.table-wrapper {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #eaf0f5;
}
.table {
  font-size: 14px;
  border-radius: 4px;
  border-spacing: 0;
  width: calc(100% + 1px);
  border-collapse: collapse;
  border-style: hidden;
}
.table th,
.table td {
  height: auto;
  overflow: hidden;
  padding: 5px 10px;
  white-space: normal;
  word-break: break-all;
  box-sizing: border-box;
  text-overflow: ellipsis;
  border: 1px solid #eaf0f5;
}
.table thead tr:nth-child(odd) th,
.table tfoot tr:nth-child(odd) td {
  background: #f9f9f9;
}
.table .bb0 {
  border-bottom: 0;
}
.table .bt0 {
  border-top: 0;
  /*border-left: 0;*/
}
.table .btr0 {
  border-top: 0;
  /*    border-left: 0;
    border-right: 0;*/
}
.table .bx0 {
  border-left: 0;
  border-right: 0;
}
.ivu-table-cell-with-selection {
  text-overflow: clip;
}

.alerts {
  width: 750px;
  margin: 16px auto 0 auto;
}
.alerts .alert {
  color: #515a6e;
  line-height: 1.4em;
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 8px 48px 8px 16px;
}
.alerts .alert:last-child {
  margin-bottom: 0;
}
.alerts .alert-info {
  background-color: #f0faff;
  border: 1px solid #abdcff;
}
.alerts .alert-success {
  background-color: #edfff3;
  border: 1px solid #8ce6b0;
}
.alerts .alert-warning {
  background-color: #fff9e6;
  border: 1px solid #ffd77a;
}
.alerts .alert-error {
  background-color: #ffefe6;
  border: 1px solid #ffb08f;
}

@media print {
  body,
  #app {
    margin: 0;
    color: #000000;
    align-items: flex-start;
  }
  .order,
  .card,
  .card-body {
    border: 0;
    padding: 0;
  }
  .table-wrapper,
  .table,
  .table th,
  .table td {
    border-color: #bbbbbb;
  }
  .no-print {
    display: none !important;
  }
}
